<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
      
      
    <head>
    	<title>Mama Store Main Page</title>
       	<meta charset="utf-8" />
       	
       	<meta name="viewport" content="width=device-width, initial-scale=1" />
       	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>    
       	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
 	    <script src="js/jquery.min.js"></script>
  		<script src="js/popper.min.js"></script>
 		<script src="js/bootstrap.min.js"></script>
 		<script src="js/main.js"></script>
    </head>
    
    <body>
    
    <div class="top-case">
    	<h1 class="brand-logo">Mama Store</h1>
    </div>

<div class="content-body" >
    <nav class="navbar navbar-expand-md sticky-top">
		<a class="navbar-brand" href="/">Mama Store</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<div class="navbar-toggler-icon container fd-column">
				<div><span class="icon-bar"></span></div>
				<div><span class="icon-bar"></span></div>
				<div><span class="icon-bar"></span></div>
			</div>
  		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav mr-4">
				<li sec:authorize="hasAuthority('CUSTOMER')" class="nav-item">
					<a class="nav-link " href="/profile">[[${#httpServletRequest.remoteUser}]]</a>
				</li>
					<li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
					<a class="nav-link " href="/#">[[${#httpServletRequest.remoteUser}]]</a>
				</li>
				<li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
					<a class="nav-link " href="/userList">User list</a>
				</li>
				<li sec:authorize="!isAuthenticated()" class="nav-item container jc-start">
					<!-- <a class="nav-link" href="/login">SignIn</a> -->
					<button type="button" class="btn" data-toggle="modal" data-target="#modalSignIn">SignIn</button>
				</li>		
				<li sec:authorize="isAuthenticated()" class="nav-item" >
					<a class="nav-link" href="/logout">SignOut</a>
				</li>
				<li sec:authorize="!isAuthenticated()" class="nav-item">
					<a class="nav-link" href="/signup">SignUp</a>					
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div><h1>Some text</h1></div>
	    <div sec:authorize="isAuthenticated()">
	    <h1>Seen if autentificated</h1>
	    </div>
	    <div>
	    <h1> Some text 2 </h1>
	   
	    </div>
	</div>
	<!-- Modal frames -->
<div class="container jc-center">
	<!-- SignIn modal -->
	<div class="modal fade col-md-4 modal-position" id="modalSignIn" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title brand-style">SignIn</h3>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					
						<form th:action="@{/login}" method="post" class="needs-validation" novalidate>
							<div class="form-group">
								<input type="text" class="form-control" id="username" placeholder="Phone number or username" name="username" required>
								<div class="valid-feedback">Valid.</div>
								<div class="invalid-feedback">Please fill out this field.</div>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="pass" placeholder="Password" name="password" required>
								<div class="valid-feedback">Valid.</div>
								<div class="invalid-feedback">Please fill out this field.</div>
							</div>
							<div class="container">
								<button type="submit" class="btn"><h3>Submit</h3></button>
							</div>
						</form>
					</div>
				</div>
				</div>
</div>
			</div>
		</div>
		
	
	<!-- Footer -->
	<footer class="footer stiky-bottom">
        <div class="container">
        <div class="row">
        <div class="col-md-12 text-center" style="font-family: cursive">
        	2019 Mama Store ®: <a href="/" class="footer-brand">Mama Store</a>
        </div>
   		</div>
		</div>
    </footer>
<!-- Footer -->
		

	


</body>
</html>