<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	
		<meta charset="utf-8" />
       	<meta name="viewport" content="width=device-width, initial-scale=1" />
       	
       	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	   	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
       	
       	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>    
		<title>Products</title>
		
	</head>
	<body>

		<nav class="navbar navbar-expand-md sticky-top">
			<a class="navbar-brand" href="/">Mama Store</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<div class="navbar-toggler-icon container">
					<div><span class="icon-bar"></span></div>
					<div><span class="icon-bar"></span></div>
					<div><span class="icon-bar"></span></div>
				</div>
  			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-4">
			
					<li sec:authorize="hasAuthority('ADMIN')" class="nav-item">			
						<a class="nav-link " href="/user/list">User list</a>
					</li>
					<li sec:authorize="hasAuthority('ADMIN')" class="nav-item">			
						<a class="nav-link " href="/image/list">Image list</a>
					</li>
			
					<li sec:authorize="!isAuthenticated()" class="nav-item">
						<a class="nav-link" href="/login">SignIn</a>
					</li>		
					<li sec:authorize="isAuthenticated()" class="nav-item" >
						<a class="nav-link" href="/logout">SignOut</a>
					</li>
					<li sec:authorize="!isAuthenticated()" class="nav-item">
						<a class="nav-link " href="/user/signup">SignUp</a>
					</li>
					
				</ul>
			</div>
		</nav>
		<div class="container content-body">
			<div class="col-md-9">
				<div class="box shadow-lg">
					<div class="box-header" >
						<h3 class="box-title brand-style">Products</h3>
					</div>
					<div class="box-body">
						<div class="box">
							<div class="box-header" >
								<h5 class="box-title brand-style">Products</h5>
							</div>		
							<table class="table">
    							<thead class="thead-light">
      								<tr>
        								<th>Product name</th>
        								<th>Product price</th>
         								<th>Description</th>
          								<th>Product image</th>
           								<th></th>
     								</tr>
    							</thead>
    							<tbody>
    								<tr th:if="${products.empty}"><td colspan="2">No Products Available</td></tr>
									<tr th:each="product : ${products}">
										<td><span th:text="${product.name}"></span></td>
										<td><span th:text="${product.price}"></span></td>
										<td><span th:text="${product.description}"></span></td>
										<td><img th:src="@{/image/{id}(id=${product.images[0].id})}" class="img-table"></td>									
									</tr>
						    	</tbody>
						  	</table>
						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  
  
  	<!-- Footer -->
	<footer class="footer stiky-bottom">
        <div class="container">
        <div class="row">
        <div class="col-md-12 text-center" style="font-family: cursive">
        	2019 Mama Store ®: <a href="/" class="footer-brand">Mama Store</a>
        </div>
   		</div>
		</div>
    </footer>
<!-- Footer -->

</body>
</html>






